#root {
  text-align: center;
  width: 100%;
  height: 100vh;
}

header{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
  
.primary {
  padding: 1rem;
  margin: 1rem;
  font-size: medium;
  cursor: pointer;
  background-color: #17a2b8;
}

.primary:hover{
  border-color: #17a2b8;
  background-color: #1bc3dd;
}

.danger {
  margin: 1rem;
  font-size: medium;
  cursor: pointer;
  background-color: #dc3545;
  font-size: 1.1rem;
}

.danger:hover {
  border-color: #dc3545;
  background-color: #c82333;
}

.success {
  margin: 1rem;
  font-size: medium;
  cursor: pointer;
  background-color: #198754;
  font-size: 1.1rem;
}

.success:hover {
  border-color: #198754;
  background-color: #147b47;
}
